<div class="py-5 body">
    <div class="container px-5 pb-5">
        <div class="row gx-5 align-items-center">
            <div class="col">
                <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                    <div class="profile">
                        <img class="profile-img" src="../assets/logo.png" />
                    </div>
                </div>
            </div>
            <div class="col mt-5">
                <div class="text-center text-xxl-start">
                    <div class="fs-3 fw-light accent">Espéralo en Julio 2024</div>
                    <hr class="accent">
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <button class="btn btn-light btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvas">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-register-offcanvas></app-register-offcanvas>